.section3{
    margin-left: -1px;
}
.dev-title {
    @media screen and (min-width: 320px) {
        grid-area: 4 / 1 / 5 / 13;
    }
    @media screen and (min-width: 720px) {
        grid-area: 3 / 1 / 4 / 5;
    }
}
.dev-point-1 {
    @media screen and (min-width: 320px) {
        grid-area: 5 / 1 / 6 / 13;
    }
    @media screen and (min-width: 720px) {
        grid-area: 4 / 1 / 5 / 5;
    }
}
.dev-point-2 {
    @media screen and (min-width: 320px) {
        grid-area: 6 / 1 / 7 / 13;
    }
    @media screen and (min-width: 720px) {
        grid-area: 5 / 1 / 6 / 5;
    }
}
.dev-point-3 {
    @media screen and (min-width: 320px) {
        grid-area: 7 / 1 / 8 / 13;
    }
    @media screen and (min-width: 720px) {
        grid-area: 6 / 1 / 7 / 5;
    }
}

.dev-title{
    .title-line{
        margin-left: -$margin;
    }
}